body{
    background: linear-gradient(
        -140deg,
        #000000,
        #72636c,
        #a7a7a7,
        #555
    )
}

nav{
    position: fixed;
    left: 0;
    translate: 0 -72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 0 20px;
    width: 100%;
    height: 150px;
    box-shadow: 0 10px 20px rgb(0, 0, 0 / 10%);
    background: linear-gradient(
        -140deg,
        #000000,
        #72636c,
        #a7a7a7,
        #555
    )
}

nav > img {
    padding-top: 65px;
    padding-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-items {
    column-gap: 20px;
    padding-top: 65px;
    padding-right: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: flex;
    justify-content: space-around;
    margin: 80px;
    gap: 10%;
    align-items: center;
    width: 30%;
}

.nav-items > a {
    text-decoration: none;
    color: blueviolet;
    height: 72px;
    display: grid;
    grid-gap: 50px;
    place-items: center;
}

.nav-items > a:hover {
    color:aquamarine
}

input{
    margin-top: 100px;
    border-radius: 25px;
    width: 40%;
    height: 50px;
    margin-left: 400px;
    text-align: center;
}


input[type=text] :focus {
    border: 3px solid #555;
}

.first-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #72636c;
    margin-top: 30px;
}

.first-container.main-container{
    border-color: #000000;
    border-radius: 12px;
}

.img-container{
    text-align: center;
    margin-top: 20px;
}

.img-container img{
    align-content: center;
    border-radius: 100px;
    height: 150px;
    width: 150px;
}

.content-container{
    font-size: 15px;
}

.name {
    text-align: center;
}

.buttons{
    text-align: center;
    margin-bottom: 10px;
}

button{
    border-radius: 9px;
    height: 35px;
    border-style: none;
    margin-right: 20px;
}

footer{
    background: purple;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.footer-design{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    margin: 0 auto;
    max-width: 720px;
    padding: 16px;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.socialmedia img{
    width: 20px;
    height: 20px;
}


.footer-bottom{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 60px;
    margin-top: 52px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: purple;
    font-size: 14px;
    opacity: .8;
}

.logo{
    width: 100px;
    height: 100px;
    max-width: 160px;
    margin-bottom: 8px;
}

menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: square;
    padding: 0;
    margin: 0;
}

menu li{
    margin-bottom: 16px;
}

menu li a{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (max-width: 390px) {

    .navbar{
        width: 100%;
        height: 15px;

    }

    .logo111{
        size: 25px;
    }

    .nav-items{
        display: none;
    }

    .main-card{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        width: 210px;
        padding: 0%;
        align-items: center;

    }

    .piccc{
        align-items: center;
        align-content: center;
        border-radius: 5px;
    }

    input{
        display: none;
    }

    img{
        padding: 20px;
        margin: 0%;
    }

    h2{
        margin-left: 15px;
        text-align: center;
    }

    h3{
        margin-left: 15px;
        text-align: center;
    }

    button{
        width: 60px;
        height: 50px;
    }

    footer{
        width: 370px;
    }

    menu{
        font-size: small;
    }

    .footer-bottom{
        font-size: 9px;
    }

    .first-container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
        border-radius: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #72636c;
        margin-top: 30px;
    }

    button{
        font-size: small;
    }

}