nav{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

nav .logo1{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: 50px;
}


nav-bar{
    gap: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: solid;
}

nav-bar li{
    list-style: none;
    text-transform: capitalize;
}

nav-bar li a{
    text-decoration: none;
    font-size: larger;
}

h1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    text-decoration: underline;
    size: 90%;
    width: 90%;
}


footer{
    background: purple;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

}


.footer-design{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    margin: 0 auto;
    max-width: 720px;
    padding: 16px;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.socialmedia img{
    width: 20px;
    height: 20px;
}

.footer-bottom{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 60px;
    margin-top: 52px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: purple;
    font-size: 14px;
    opacity: .8;
}

.logo{
    width: 100px;
    height: 100px;
    max-width: 160px;
    margin-bottom: 8px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: aliceblue;
    margin-top: 0px;
    margin-bottom: 16px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
}

menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: square;
    padding: 0;
    margin: 0;
}

menu li{
    margin-bottom: 16px;
}

menu li a{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}