body{
    background-color: aqua;
}


.location {
    margin-top: 50%;
    width: 100%;
    height: 100%;
    text-align: center;
  
}

.ilocation {
    border-radius: 500px;
    text-align: center;
}


footer {
    text-align: center;
}